section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 90%;
  }
  mat-card {
    margin: 10px 0;
  }

  mat-card-content:focus {
      outline: none;
      border: 0;
  }

  img {
      width: 50%;
  }